{% load widget_tweaks %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Add Question</title>

    <script src="/static/js/addques.js"></script>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/formset.js">
</script>
  <link rel="stylesheet" href="/static/css/normalize.min.css">
<link rel="stylesheet" href="/static/css/w3.css">

      <link rel="stylesheet" href="/static/css/style_addquestion.css">



</head>

<body>

<br>
<br>
<br>
<br>

  <div class="material-tabs">
  <div class="tabbed-section__selector">
    <a class="tabbed-section__selector-tab-1 active" href="#">MCQ</a>

    <span class="tabbed-section__highlighter"></span>
  </div>


  <div class="tabbed-section-1 visible">
    <form action="/tests/{{test.pk}}/question/add/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Question</h2>
<br>
    {% render_field question_form.statement type="textarea" rows="3" cols="50" placeholder="Question Statement" %}{{question_form.statement.errors}}
<br>
<h3>Images (optional)</h3>
{{ image_fromset.management_form }}

{% for imageform in image_formset %}
{{imageform.as_p}}
{% endfor %}
<br>
<h3>Answers</h2>



<br>
{{ option_formset.management_form }}

{% for form in option_formset.forms %}

<div class="item">
  {% render_field form.correct %}{{form.correct.errors}}
  {% render_field form.value type="textarea" rows="1" cols="50"%}{{form.value.errors}}

  <p style=""><a class="delete" href="#">Remove</a></p>
</div>

{% endfor %}
<p><a id="add" href="#">Add another item</a></p>
<center>
           <button class="btn btn-lg btn-primary">Save</button>

           <button class="btn btn-lg btn-danger" type="reset">Clear</button>
       </center>
  </form>
  </div>

  </div>
</div>

</body>
</html>
