{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form action="" method="post">{% csrf_token %}
    <h3>Statement</h3> {% render_field form.statement style="width: 80%"%}{{form.statement.errors}}
{% if images %}
	<br/>
	<hr/>
	<h3>Images</h3>
	{% for imagefile in images %}
	<img src="{{imagefile.image.url}}" height=350, width=550/><br/>
	{% endfor %}
{% endif %}
	<br/><br/><hr/>
    <h3>Options</h3>
	{{ option_formset.management_form }}

	{% for form in option_formset.forms %}

	<div class="item">
  	{% render_field form.correct %}{{form.correct.errors}}
  	{% render_field form.value type="textarea" rows="1" cols="50"%}{{form.value.errors}}
	
	</div>

	{% endfor %}

    <input type="submit" value="Update" />
</form>



</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function (e){
		$("input[name=correct][value=" + "{{correct_option}}" + "]").attr('checked', 'checked');
	});

</script>

</html>