{% load test_filters %}

<html>
<head>
<title>
	E-tests by UIET
	</title>
	<link rel="stylesheet" type="text/css" href="/static/css/testpage.css"/>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




	</head>
<body>
<div style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
<!--main division-->
	<ul>
		<li><a href="">Instructions</a></li>
		<li><a href="" data-toggle="modal" data-target="#myModal">Profile</a></li>
		<li class="l"><a>UIET,Chandigarh</a></li>
	</ul>
	<!--for question matrix-->
	<div class="two">
	<div id="num">
	Total Questions: {{totalques}}
	</div>
		<center>Reference</center>
		<table align="center" class="reftable">
		<tr align="center" valign="center">
			<td><div class="unanswered" id="unans">x</div></td>
			<td class="fnt">Unanswered</td>
			<td><div class="locked" id="locke">y</div></td>
			<td class="fnt">Locked</td>
		</tr>
		<tr align="center" valign="center">
			<td><div class="review" id="revie">z</div></td>
			<td class="fnt">To Be Reviewed</td>
			<td><div class="not_visited" id="unvis">w</div></td>
			<td class="fnt">Unvisited</td>
		</tr>
		</table>
	<hr/>
	{% for answer in response.answer_set.all|reverseset %}
	{% ifequal forloop.counter 1 %}
	{% ifequal answer.status 'not_visited' %}
	<div id="{{forloop.counter}}" class="question unanswered" style="text-align: center; display: inline-block;">{{forloop.counter}}</div>
	{% else %}
<div class="question {{answer.status}}" id="{{forloop.counter}}" style="text-align: center; display: inline-block;">{{forloop.counter}}</div>
	{% endifequal %}
	{% else %}

	<div class="question {{answer.status}}" id="{{forloop.counter}}" style="text-align: center; display: inline-block;">{{forloop.counter}}</div>
	{% endifequal %}
	{% endfor %}<br/>
	</div>
	<!--for viewing questions-->
	<div id="questions">
	<div class="ScrollStyle" style="padding: 8px">
	<p align="left" style="display: inline-block;">Question No.<b><span id="questionno">1</span></b></p><p align="right" style="display: inline-block; float:right;" id="timer"></p>
	<hr/>
	<font face="Open Sans" size="4px">


	<b><div id="statement">{{ questions.0.statement }}</div></b></font><br/>
	<span id="question_pk" style="display: none;">{{ questions.0.pk }}</span>

	<div id="images">
		{% for imagefile in question.image_set.all %}
		<img src="{{imagefile.image.url}}" height=250, width=400/><br/>
		{% endfor %}
	</div>

	<div id="options">
	{% for option in questions.0.option_set.all %}
	<b><input type="radio" id="radio{{forloop.counter}}" value="{{option.pk}}" name="selected_option" value="{{option.pk}}">{{forloop.counter|get_option_alpha}}</b>)&nbsp;{{ option.value }}<br/>
	{% endfor %}
	</div>

	</div>
	</div>
	<!--for buttons next,previous etc-->
	<div id="bottom">
	<center>
		<button type="button" class="buttonlock" id="lock">Lock</button>
		<button type="button" class="buttonwait" id="review">Review</button>
		</center>
	<button type="button" class="buttonnext" id="skip">Next</button>
	<button type="button" class="buttonprevious" id="previous">previous</button>
	</div>
	</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body">
      Name : <b>{{student.name}}</b><br/>
      Roll No. :  <b>{{student.roll_no}}</b><br/>
      Year :  <b>{{student.year}}</b><br/>
      Branch :  <b>{{student.branch}}</b><br/>
      Section : <b>{{student.section}}</b><br/>
      Group : <b>{{student.group.number}}</b><br/>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






</body>
<script type="text/javascript">
	var questionList = (("{{question_list}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
	var imageList = (("{{images}}").replace(/&(l|g|quo|)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"',
                    
                }[b];
            }));
	imageList = imageList.replace(/&#39;/g, "'");
	console.log(imageList);
	var questiondata = JSON.parse(questionList);
	var imagedata = JSON.parse(imageList);
	console.log(imagedata);
	function updateNumbers(){
		document.getElementById("unvis").innerHTML=$(".not_visited").length-1;
		document.getElementById("locke").innerHTML=$(".locked").length-1;
		document.getElementById("unans").innerHTML=$(".unanswered").length-1;
		document.getElementById("revie").innerHTML=$(".review").length-1;
	}

	function show_hide_buttons(){
		var ques_no = parseInt(document.getElementById("questionno").innerHTML);
	}

	function mark_for_review(ques_no, circle){
		var ques_no_div = document.getElementById("question_pk");
		var	selected_opt = document.querySelector('input[name="selected_option"]:checked');
		if(selected_opt==null){
			alert("No Option Selected!");
			return;
		}
		else{
			selected_opt=selected_opt.value;
		}
		console.log(selected_opt);
		$.ajax({
                url: "/tests/mark/",
                type: 'POST',
                data: {'status': "review", 'questionpk': parseInt(ques_no_div.innerHTML), 'responsepk': parseInt("{{response.pk}}"), 'testpk': parseInt("{{test.pk}}"), 'selected_option': parseInt(selected_opt)},
               		headers: { "X-CSRFToken": "{% csrf_token %}" },
           			success: function(result2) {
           				if(!circle){
            				circle=document.getElementById(""+(ques_no));
                		}
                		if(circle){
                			$(circle).removeClass();
                			$(circle).addClass('question');
                			$(circle).addClass("review");
                			$(".highlighted").removeClass('highlighted');
							$(circle).addClass('highlighted');
							updateNumbers();
                    }
                }
            });
	}

	// function check()
	// {
	// document.getElementById('review').disabled=true;
	// var ele = document.getElementsByName('selected_option');
	// var flag=0;
	// for(var i=0;i<ele.length;i++)
	// {
 //    if(ele[i].checked)
 //     flag=1;

	// }
	// if(flag==1)
	// document.getElementById('review').disabled=false;
	// }

	function load_question(next, status="unanswered", ques=false, circle=false) {
		div = document.getElementById("questionno");
		var ques_no = parseInt(div.innerHTML);
		if(status=="review"){
			mark_for_review(ques_no, circle);
			return;
		}
		var ques_no_div = document.getElementById("question_pk");
		if(ques!=false){
			ques_no = ques;
			$.ajax({
	                	url: "/tests/status/",
        		        type: 'POST',
	                	data: {'questionpk': parseInt(ques_no_div.innerHTML), 'responsepk': parseInt("{{response.pk}}")},
        	       	 	headers: { "X-CSRFToken": "{% csrf_token %}" },
                		success: function(result) {
				status = result["status"];
			}});
		}
		else{
		if (ques_no<parseInt("{{totalques}}") && next==1){
			ques_no++;
		}
		else{
			if (ques_no!=1 && next!=1)
				ques_no--;
		}
		}
		$("#skip").show();
		$("#previous").show();

		if(ques_no==1){
			$("#previous").hide();

		}
		div.innerHTML=ques_no+"";
		statementdiv = document.getElementById("statement");
		statementdiv.innerHTML = questiondata[ques_no-1]["statement"];
		optionsdiv = document.getElementById("options");
		options = "";



		ques_no_div.innerHTML=questiondata[ques_no-1]["pk"];
		if(ques_no==parseInt("{{totalques}}")){
			$("#skip").hide();
		}

		var selected = "";
		var checked = ""
		$.ajax({
                url: "/tests/status/",
                type: 'POST',
                data: {'questionpk': parseInt(ques_no_div.innerHTML), 'responsepk': parseInt("{{response.pk}}")},
                headers: { "X-CSRFToken": "{% csrf_token %}" },
                success: function(result) {
                	selected+=result["selected"];
                	for (index = 0; index < questiondata[ques_no-1]["options"].length; ++index) {
			console.log(parseInt(questiondata[ques_no-1]["options"][index]["pk"])+"  " +selected);
			if(parseInt(questiondata[ques_no-1]["options"][index]["pk"])==parseInt(selected)){
				checked = "checked";
			}
			else{
				checked = "";
			}
			console.log(checked);
			options+="<input type='radio' id='radio"+(index+1)+"' name='selected_option' value='"+ questiondata[ques_no-1]["options"][index]["pk"] +"' "+ checked +" />";
 		   	options+="&nbsp;<b>"+"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[index]+"</b>)&nbsp;"+questiondata[ques_no-1]["options"][index]["value"]+"<br/>";
		}
		optionsdiv.innerHTML=options;
                }
            });





		$.ajax({
                url: "/tests/status/",
                type: 'POST',
                data: {'questionpk': parseInt(ques_no_div.innerHTML), 'responsepk': parseInt("{{response.pk}}")},
                headers: { "X-CSRFToken": "{% csrf_token %}" },
                success: function(result) {
               		status2 = result['status'];
               		if(status2=="not_visited"){
               			status="unanswered";
               		}
               		if(status2=="review"){
               			status=status2;
               		}
               		$.ajax({
                			url: "/tests/mark/",
                			type: 'POST',
                			data: {'status': status, 'questionpk': parseInt(ques_no_div.innerHTML), 'responsepk': parseInt("{{response.pk}}"), 'testpk': parseInt("{{test.pk}}")},
                			headers: { "X-CSRFToken": "{% csrf_token %}" },
                			success: function(result2) {
                				if(!circle){
                					circle=document.getElementById(""+(ques_no));
                				}
                    			if(circle){
                    				$(circle).removeClass();
                    				$(circle).addClass('question');
                    				$(circle).addClass(status);
                    				$(".highlighted").removeClass('highlighted');
				       				$(circle).addClass('highlighted');
				       				updateNumbers();
                    }
                }
            });
                }
            });
		circle=document.getElementById(""+(ques_no));
		$(".highlighted").removeClass('highlighted');
       	$(circle).addClass('highlighted');
		show_hide_buttons();
		updateNumbers();
	}

	$("#skip").click(function(e) {
		load_question(1);
	});
	$("#previous").click(function(e){
		load_question(0);
	});
	$("#previous").hide();
	// $.ajax({
 //                url: "/tests/mark/",
 //                type: 'POST',
 //                data: {'status': "unanswered", 'questionpk': parseInt("{{questions.0.pk}}"), 'responsepk': parseInt("{{response.pk}}"), 'testpk': parseInt("{{test.pk}}")},
 //                headers: { "X-CSRFToken": "{% csrf_token %}" },
 //                success: function(result) {

 //                }
 //            });
	$(".question").click(function(e){
		updateNumbers();
		load_question(2,undefined, this.id, this);
	});

	$("#review").click(function(e){
		load_question(1, "review");
	});

	$("#1").addClass("highlighted");
	updateNumbers();
</script>


<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();
var distance = parseInt("{{time}}");
// Update the count down every 1 second
var x = setInterval(function() {
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (60 * 60 * 24));
  var hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
  var minutes = Math.floor((distance % (60 * 60)) / (60));
  var seconds = Math.floor((distance % (60)));
  // Display the result in the element with id="demo"
  if(hours<10)
  	hours = "0"+hours;
  if(minutes<10)
  	minutes = "0"+minutes;
  if(seconds<10)
  	seconds = "0"+seconds;
  document.getElementById("timer").innerHTML = "<b>"+hours + ":"
  + minutes + ":" + seconds+"</b>";
  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
  distance--;
  if (distance<=0){
  	alert("code to submit test response will be added soon!");
  }
}, 1000);
</script>

</html>
