<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
This test hasn't started yet!<br/> 
Time left until test starts:

<p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();
var distance = parseInt("{{seconds_left}}");
// Update the count down every 1 second
var x = setInterval(function() {
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (60 * 60 * 24));
  var hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
  var minutes = Math.floor((distance % (60 * 60)) / (60));
  var seconds = Math.floor((distance % (60)));
  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
  distance--;
  if (distance<=0){
  	location.reload();
  }
}, 1000);
</script>


</body>
</html>