<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SignUp/Register</title>
  <link rel="stylesheet" href="/static/js/normalize.min.css">
  <link rel="stylesheet" href="/static/css/style1.css">
<style type="text/css">
.errorlist {
  color: red;
  font-size: 13px;
  float: right;
}

label {
  display: none;
}
#id_username{
  display: none;
}

label[for="id_remember"]{
  display: inline-block;
  float: left;
  margin:5px 0px;
  color: #1ab188;
 
}

#id_remember{
  width: auto;
  margin: 5px 0px;
  margin-top: 20px;

  }


select {
  width: 100%;
}
</style>  
</head>

<body onload="loadPage();">
  <div class="form">
      
      <ul class="tab-group">
        <li class="tab {{signup_active}}"><a id="signuplink" href="#signup">Sign Up</a></li>
        <li class="tab {{login_active}}"><a id="loginlink" href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">
          <h1>Students are required to sign up here!</h1>
          
          <form action="/accounts/signup/" method="post">
            {%csrf_token%}
            <table cellpadding="6x" align="center">
            {{form2.as_table}}
            </table>
          <center><button type="submit" class="button button-block"/>Signup</button></center>
          </form>

        </div>
        
        <div id="login">   
          <h1>Already have account? Login here!</h1>
          
          <form action="/accounts/login/" method="post">
          {%csrf_token%}
            <table cellpadding="6x" align="center" >
            {{form.as_p}}
            </table>
          
          
          
          
          
          <p class="forgot"><a href="/accounts/password/reset/">Forgot Password?</a></p><br>
         
          
          <center><button class="button button-block"/>Log In</button></center>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src='/static/js/jquery.min.js'></script>

    <script src="/static/js/index.js"></script>
<script type="text/javascript">
  function loadPage(){
    target = "login";
    $('.tab-content > div').not(target).hide();
    x = document.getElementById("loginlink");
    $(x).parent().addClass('active');
    $(x).parent().siblings().removeClass('active');
    $('#login').fadeIn(0);
    y=document.getElementById("id_username");
    y.value="something";
  };
  </script>
</body>
</html>
