{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href='{% static "css/signup_style.css" %}' type="text/css">
<link rel="stylesheet" href='{% static "css/login.css" %}' type="text/css">

{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<center><div class="main" align="center">
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="nonfielderrors">{{form.non_field_errors}}</div>
  {{form.login.label_tag}}{% render_field form.login class+="name" style="Text-transform:uppercase;" class="empty"  placeholder="UE******" %}<div class="errorout"><div class="errorin">{{form.login.errors}}</div></div><br><p class="roll">*Same as roll no for students</p><br>

  {{form.password.label_tag}} {% render_field form.password class+="name" class="empty" class="field" placeholder="password" %}<div class="errorout"><div class="errorin">{{form.pasword.errors}}</div></div> <br/><br>

  <div class="field1">Remember me  {% render_field form.remember class+="name" %}</div>


  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="field"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div><br><br>
 <div class="field"><button class="primaryAction" type="submit">{% trans "Sign In" %}</button></div><br>

</form>
</div>
</center>
{% endblock %}
