{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href='{% static "css/signup_style.css" %}' type="text/css">

{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <center><div class="main">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
       <div class="l">Current Password &nbsp;</div><div class="r">{%render_field form.oldpassword%}</div><br><br>
       <div class="l">New Password &nbsp;</div><div class="r">{%render_field form.password1%}</div><br><br>
       <div class="l">New Password (again) &nbsp;</div><div class="r">{%render_field form.password2%}</div><br><br>
        <div class="r"><button type="submit" name="action">{% trans "Change Password" %}</button></div><br>
    </form>
    </div>
    </center>
{% endblock %}
