{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href='{% static "css/signup_style.css" %}' type="text/css">

{% endblock %}
{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    <center><div class="main">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="forgot">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}<br><br>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <b>Enter your Email &nbsp;</b>  {%render_field form.email%}
        <br><br>
        <input type="submit" value="{% trans 'Reset Password' %}" />
    </form>
    </div>
    <br>
    <p>{% blocktrans %}Having Trouble? Contact the administrator!{% endblocktrans %}</p>
{% endblock %}
</div>
</center>
