body{
	background-color: #29B6F6;
}

label{
	color:white;
}

.mainn{
	background-color:rgba(19, 35, 47,0.9);
	width: 60%;
	display: inline-block;
}

.delete{
	text-decoration: none;
	font-weight: bolder;
	font-size: 30px;
	color:red;
}

ul{
	list-style: none;
}