body{
	background-color:white;
}


input[type=password], input[type=text], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
.roll{
	float: right;
	font-size: 10px;
	color: blue;
}

.field{
	float:right;
}
.field1{
	float: left;
}
.nonfielderrors{
	font-size: 10px;
	color:red;
}