.main {
  border: 2px solid black;
  width:470px;
  height:500px;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 2px 2px 1px grey;
}
.error {
  color: red;
  font-size: 12px;
  list-style: none;
}

input[type=text],input[type=password],input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.empty{
  float: right;
  height: 30px;
  width: 250px;
}

label{
  display: inline-block;
}
body{
  background-color: #bed9f3;
}

