.main {
  width: 500px;
  padding: 20px;
  padding-top: 10px;
  -webkit-box-shadow: 0 0 5px grey;
  box-shadow: 0 0 5px grey;
  border-radius: 7px;
  opacity: 1;
  margin: 20px;
  color: olivedrab;
  background-color:moccasin;
}

p{
  font-size: 10px;
}


  h1 {
    font-size: 50px;
  padding: 40px 25px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
   color: darkred;
    letter-spacing: .05em;
  }

.error {
  color: red;
  font-size: 12px;
  list-style: none;
}


input[type=password], input[type=text], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  background: #29B6F6;
  border: 1px solid ;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.empty{
  float: right;
  height: 30px;
  width: 250px;
}

label{
  float: left;
}
body {
  background: #29B6F6;
  font-family: 'Titillium Web', sans-serif;
}

#popUpYes
{
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 5px; /* SET COLOR IN WHITE */
}

#popUpYes:hover
{
  background-color: powderblue;
  color: black;
  border-radius: 5px; /* SET COLOR IN BLACK */
}

.eroll{
  color: red;
  display: inline-block;
  font-size: 12px;
  float: left;

}

.errorin{
  color:red;
  float:right;
  font-size: 12px;
}

.errorout{
  display: inline-block;
  width:100%;
  margin: 0px;
  padding: 0px;
  height: 20px;
  align-content: right;
}

ul{
  list-style: none;
}

.forgot{
  font-size: 15px;
}

.r{
  float:right;
}
.l{
 float:left;
}
.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #29B6F6;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  height: 40px;
  width: 200px;
}
.button:hover, .button:focus {
  background: darkred;
  color:khaki;
}

.button-block {
  display: block;

}
