*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: url("/static/img/ggg.jpg") no-repeat center center fixed;
	 background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #29B6F6;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #0288D1;
}

.form {
  background: rgba(19, 35, 47,0.9);

  padding: 47px;
  max-width: 650px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 14px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 16px;
}
.tab-group li a:hover {
  background: #0288D1;
  color: #ffffff;
}
.tab-group .active a {
  background: #29B6F6;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: darkred;
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 20px;
}

label {
  position: all;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  left: 13px;
  color: darkred;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 15px;
}
label .req {
  margin: 2px;
  color: #29B6F6;
}

label.active {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: 2px;
  font-size: 10px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: khaki;
}

input, textarea {
  position: static;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid olivedrab;
  color: olivedrab;
  border-radius: 4px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #29B6F6;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

#id_branch{
  position:relative;
  margin:0 auto;
  padding:3px;
  background:moccasin;
  color:olivedrab;
  outline:none;
  border-radius: 4px;
  cursor: pointer;
}
#id_year{
  position:relative;
  margin:0 auto;
  padding:3px;
  background:moccasin;
  color:olivedrab;
  outline:none;
  border-radius: 4px;
  cursor: pointer;

}
#id_section{
  position:relative;
  margin:0 auto;
  padding:3px;
  background:moccasin;
  color:olivedrab;
  outline:none;
  border-radius: 4px;
  cursor: pointer;

}

#id_group_number{
  position:relative;
  margin:0 auto;
  padding:3px;
  background:moccasin;
  color:olivedrab;
  outline:none;
  border-radius: 4px;
  cursor: pointer;

}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 100px;
  padding: 5px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #29B6F6;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  height: 49px;
  width: 149px;
  display: inline-block;

  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #FFE57F; /* Green */
  color: black;
  padding-right: 25px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-block {
  display: block;

}

.forgot {
  margin-top:auto;
  float:right;


}
.drop{

  font-size: 15px;
  width: auto;
  float: left;
}
.password_reset{
  color:black;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin-top: 80px;
}
.passreset{
  height:50px;
  width: 60%;
  background-color: moccasin;
  padding: 8px;
  color: olivedrab;
  border-radius: 5px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.passdone{
  height:70%;
  width:42%;
background-color: moccasin;
  padding: 8px;
  color: olivedrab;
  border-radius: 5px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}
.l{
  float: left;
}
.r{
  float: right;
}
.button1 {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #29B6F6;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  height: 35px;
  width: 250px;
}
.button1:hover, .button1:focus {
  background: #0288D1;
}

.button1-block {
  display: block;

}

.button2 {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #29B6F6;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  height: 35px;
  width: 180px;
}
.button2:hover, .button1:focus {
  background: #29B6F6;
  color: black;
}

.button2-block {
  display: block;

}
label[for="id_email"]
{
  display: none;
}

.addd{
  width: 50%;
  height: 30%;
  background-color: rgba(19, 35, 47, 0.9);
  padding: 8px;
  color: white;
  border-radius: 5px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.button3{
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #29B6F6;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  height: 35px;
  width: 250px;
}
.button3:hover, .button1:focus {
  background: #29B6F6;
  color: black;
}
.button3-block {
  display: block;

}
/*Higlighters*/
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
