{% load static %}
{% load filters %}

<html>
<head>
</head>

<body> 

<div class="header" align="center">
		<h1>UNIVERSITY INSTITUTE OF ENGINEERING AND TECHNOLOGY<br>
		PANJAB UNIVERSITY,CHANDIGARH</h1>
		E-Test signup details<br/> 
		</div>
<table style="border: 1px dotted gray; overflow-x: auto;" cellpadding="4">

	<tr><td> <b>Application Id:</b> </td> <td> {{object.pk}}</td></tr>
	<tr><td> <b>Name :</b> </td> <td> {{object.name}} </td></tr>
	<tr><td> <b>Username :</b> </td> <td> {{object.user.username}} </td></tr>
	<tr><td> <b>Roll Number :</b> </td> <td> {{object.roll_no}}</td></tr>
	<tr><td> <b>Year :</b> </td> <td> {{object.year | get_full_year}}</td></tr>
	<tr><td> <b>Branch :</b> </td> <td> {{object.branch | get_full_branch_name}}</td></tr>
	<tr><td> <b>Phone No. :</b> </td> <td> {{object.phone_no}}</td></tr>
	<tr><td> <b>Email :</b> </td> <td> {{object.user.email}}</td></tr>


</table>
<div style="margin-top:100px; margin-left: 20px;"><b>Candidate's Signature</b></div>
<div style="margin-top:100px; margin-right: 20px;"><b>Candidate's Signature</b></div>

</body>



</html>