{% load static %}

<html>
	<head>
		<title>
			Welcome to UI-e-Test platform
		</title>
		<link rel="stylesheet" href='{% static "css/home_style.css" %}' type="text/css">
	</head>
	<body>
	<div class="header">
		<a href="http://uiet.puchd.ac.in">
		<img src='{% static "img/UIETT.jpg" %}' class="image">
		</a>
		<center><h1><b>UNIVERSITY INSTITUTE OF ENGINEERING AND TECHNOLOGY</b><br>
		PANJAB UNIVERSITY, CHANDIGARH</h1></center>
		</div>
		<br>
		<center><h2>Welcome to UI-e-Test</h2></center>
		<div align="center">
		<p class="para1" class="border">
	           UIET welcomes you to <b><b>UI-E-TEST </b></b>that is University Institute of Enginnering and Technology Electronic tests system. Experience the power of technology with UIET-EDU, build in association with Panjab University.
		</p>
		</div>
		<center>
		<a href="/accounts/signup/"><button type="button" class="button">Sign up</button></a>
		<a href="/accounts/login/"><button type="button" class="button">Login</button></a>
		</center>
		<br>
		<br>
		<footer>&copy;Developed by IT Department<br>
		For more information:<br> Contact Administrator</footer>

	</body>
</html>
