{% load static %}

<html>
	<head>
		<title>
			Welcome to UI-e-Test platform
		</title>
		<link rel="stylesheet" href='{% static "css/home_style.css" %}' type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>

		<div class="header">
  <img src="/static/img/UIETT.png" alt="logo" />
  <center><h1><b>UNIVERSITY INSTITUTE OF ENGINEERING AND TECHNOLOGY</b><br>
	PANJAB UNIVERSITY, CHANDIGARH</h1></center>
</div>

		<center><h2>Welcome to UI-e-Test</h2></center>
		
		<div align="center">
		<p class="para1" class="border">
	           UIET welcomes you to <b><b>UI-E-TEST </b></b>that is University Institute of Enginnering and Technology Electronic tests system.
		</p>
		</div>
		<center>

		<a href="/accounts/signup/"><button type="button" class="button" style="vertical-align:middle"><span>Sign up</span></button></a>
		<a href="/accounts/login/"><button type="button" class="button" style="vertical-align:middle"><span>Login</span></button></a>
		</center>
		<br>
		<br>
		<center>
		<footer>&copy;Developed by IT Department<br>
		For more information: Contact Administrator</footer>
</center>
	</body>
</html>
