<html>
<head></head>

<body>

<h3 style="display: inline-block;">Hi, {{student.name}}</h3>&nbsp;&nbsp;({{student.roll_no}})<br/>
<hr/>
You can download your registration form <a href="/accounts/pdf/{{student.pk}}/{{student.phone_no}}">here</a>.<br/><br/>
Click <a href="/accounts/logout/">here</a> to logout.

<br/><br/>
You will be able to take tests that you are assigned by your teachers and view your grades too.
<br/><br/>
<hr/>
Tests Assigned:
{% if student.group.test_set.all %}
<table>
<tr><td><b>Title</b></td><td><b>Date</b></td><td><b>Time</b></td><td><b>Open</b></td></tr>
{% for testi in student.group.test_set.all %}
<tr><td>{{testi.title}}</td><td>{{testi.date}}</td><td>{{testi.time}}</td><td>
<a onclick="window.open('/tests/res/{{testi.pk}}/', '_blank', 'location=no,height=700,width=1200,scrollbars=yes,status=no');" style="color: blue;">open</span></a>
</td></tr>
{% endfor %}
{% else %}
 None
{% endif %}
</table>
</body>
</html>