<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>UIET EDU</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />


		<script type="text/javascript" src="/static/js/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block scriptpre %}
        {% endblock %}
</head>
<body>




<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image u
    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    UIET EDU
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/accounts/profile">
                        <i class="pe-7s-graph"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li id="profile">
                    <a href="/profiledetail">
                        <i class="pe-7s-user"></i>
                        <p>Profile</p>
                    </a>
                </li>

                <li id="addtest">
                    <a href="/tests/add">
                        <i class="pe-7s-news-paper"></i>
                        <p>add test</p>
                    </a>
                </li>


				<li class="active-pro">
                    <a href="">
                        <i class="pe-7s-culture"></i>
                        <p>Panjab University</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">


                    <ul class="nav navbar-nav navbar-right">
												<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown">
																		<p>
										{% block name %}{{faculty.name}}{% endblock %}
										<b class="caret"></b>
									</p>
															</a>
															<ul class="dropdown-menu">
																<li><a href="/accounts/password/change">Change Password</a></li>
																
															</ul>
												</li>

                                <li><a href="/accounts/logout/">Log out</a></li>
                              </ul>
                        </li>

						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

				<div class="content">
						<div class="container-fluid">
                                {% block content %}
								<div class="row">
										<div class="col-md-12">
												<div class="card">
														<div class="card-header" data-background-color="blue">
																<h4 class="title">My Tests</h4>

														</div>
														<div class="card-content table-responsive table-full-width">
																<table class="table table-hover">

																		<tbody>
																			{% for test in tests %}

																			<tr><td>{{ test.title }}</td><td><a href="/tests/edit/{{ test.pk }}">Edit</a></td></tr>

																			{% endfor %}
																		</tbody>

																</table>



														</div>

												</div>
										
										</div>
    {% endblock %}
</div>











</body>
{% block script %}
{% endblock %}
    
    

</html>
