<html>
<head></head>

<body>

<h3 style="display: inline-block;">Hi, {{student.name}}</h3>&nbsp;&nbsp;({{student.roll_no}})<br/>
<hr/>
You can download your registration form <a href="/accounts/pdf/{{student.pk}}/{{student.phone_no}}">here</a>.<br/><br/>
Click <a href="/accounts/logout/">here</a> to logout.

<br/><br/>
You will be able to take tests that you are assigned by your teachers and view your grades too.
<br/><br/>
<hr/>
Account Type: <h3 style="display: inline;">Student</h3>
</body>
</html>