<html>
<head></head>

<body>

<h3 style="display: inline-block;">Hi {{student.name}}</h3>({{student.roll_no}})<br/>
<hr/>
You can download your registration form <a href="/accounts/pdf/{{student.pk}}/{{student.phone_no}}">here</a>.
</body>
</html>